<form>
  <h3>
    <label for="passwordAmount">Password Amount</label>
  </h3>
  <input type="text" pInputText [(ngModel)]="passwordAmount">

  <h3>
    <label for="letterAmount">Letter Amount</label>
  </h3>
  <input type="text" pInputText [(ngModel)]="letterAmount">

  <h3>
    <label for="numberAmount">Number Amount</label>
  </h3>
  <input type="text" pInputText [(ngModel)]="numberAmount">

  <h3>
    <label for="symbolAmount">Symbol Amount</label>
  </h3>
  <input type="text" pInputText [(ngModel)]="symbolAmount">

  <br><br>
  <button class="btn btn-default" pButton type="submit" (click)="onSubmit()" label="Submit"></button>
</form>
