<form>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <p-fieldset legend="Password Amount">
          <input type="text" pInputText [(ngModel)]="passwordAmount">
        </p-fieldset>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-4">
        <p-fieldset legend="Letter Amount">
          <input type="text" pInputText [(ngModel)]="letterAmount">
        </p-fieldset>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-4">
        <p-fieldset legend="Number Amount">
          <input type="text" pInputText [(ngModel)]="numberAmount">
        </p-fieldset>
      </div>
    </div>

    <div class="fieldset-container">
      <button class="btn btn-default" pButton type="submit" (click)="onSubmit()" label="Submit"></button>
    </div>
  </div>
</form>
