<form>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <input-split title="Password Amount" (amount)="handlePasswordAmount($event)"></input-split>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <input-split title="Letter Amount" (amount)="handleLetterAmount($event)"></input-split>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <input-split title="Number Amount" (amount)="handleNumberAmount($event)"></input-split>      
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <button-submit label="Submit" (submitted)="handleSubmission($event)"></button-submit>
      </div>
    </div>  
<!--     <div class="fieldset-container">
      <button class="btn btn-default" type="submit" (click)="onSubmit()">Submit</button>
    </div> -->
  </div>
</form>
